.nav {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;

    border: 3px solid blue;
}

// .logo {

// }

.menu {
    flex-basis: 100%;
    order: 2;

    list-style-type: none;
    padding: 0;
}

// .subscribeButton {

// }