.Title {
    position: relative;
    border: 4px solid maroon;

}

.text {
    width: 70%;
    margin: auto;

    text-align: center;
}

.SmilleyFace {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: 4px solid black;

}

